<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ui_igr203"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/waitercolored"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/waitercolored"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity
            android:name=".TableActivity"
            android:parentActivityName=".RestaurantRoomActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_table">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ui_igr203.RestaurantRoomActivity"/>
            </activity>
        <activity
            android:name=".RestaurantRoomActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>